@model IEnumerable<proyectoBD.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

    <style>

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .table th, .table td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            .table tbody tr:nth-child(odd) {
                background-color: #f2f2f2;
            }


            .table th {
                background-color: #4CAF50;
                color: white;
            }


        .btn {
            padding: 6px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        .btn-warning {
            background-color: #f0ad4e;
            color: #fff;
        }

        .btn-primary {
            background-color: #337ab7;
            color: #fff;
        }

        .btn-danger {
            background-color: #d9534f;
            color: #fff;
        }
    </style>
</head>
<body>

<h1>PRODUCTOS</h1>

<p>
    <a asp-action="Create">Ingresa un Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVentasNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVentasNavigation.Id)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
